.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: $base-shadow;

  &__menu {

  }

  &__menu-item {
    padding: 10px 20px;
  }

  &__active {
    text-decoration: underline;
  }
}
