.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $header-background-color;

  &__menu {
    a {
      color: $secondary-text-color;
    }
  }

  &__menu-item {
    padding: 10px 20px;
  }

  &__active {
    text-decoration: underline;
  }
}
